{# @see https://symfony.com/bundles/EasyAdminBundle/current/fields.html#creating-custom-fields #}
{# @var \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext ea #}
{# @var \EasyCorp\Bundle\EasyAdminBundle\Dto\FieldDto field #}
{# @var \EasyCorp\Bundle\EasyAdminBundle\Dto\EntityDto entity #}
{% if ea.crud.currentPage == 'index' %}
    {% for app, info in field.value %}
        {% if info['version']|default(false) %}
            <span class="label label-primary">{{ app }} {{ info['version']|default('–') }}</span>
        {% endif %}
    {% endfor %}
{% elseif ea.crud.currentPage == 'detail' %}
    <table class="table">
        {% for app, info in field.value %}
            <tr>
                {% if info['version']|default(false) %}
                    <th>{{ app }}</th>
                    <td>{{ info['version']|default('–') }}</td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
{% endif %}
