{# @see https://symfony.com/bundles/EasyAdminBundle/current/fields.html#creating-custom-fields #}
{# @var \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext ea #}
{# @var \EasyCorp\Bundle\EasyAdminBundle\Dto\FieldDto field #}
{# @var \EasyCorp\Bundle\EasyAdminBundle\Dto\EntityDto entity #}
<a href="{{ 'https://' ~ field.value }}">{{ field.value }}</a>
